{% load static %}

{% for variant in variants %}
   <a class="btn btn-success" role="button" href="{% url "create_payment" payment_variant=variant order_id=object.id %}">
      Pay using
      {% if variant == 'paypal' %}
      PayPal <img src="{% static 'img/visa-logo.svg' %}" height="30px" alt="Visa icon"></img>
      {% elif variant == 'paypal-sandbox' %}
      PayPal (sandbox) <img src="{% static 'img/visa-logo.svg' %}" height="30px" alt="Visa icon"></img>
      {% else %}
      {{ variant }}
      {% endif %}
   </a>
{% endfor %}
